..page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 30px 0 30px 64px;
}

.logo {
  height: 32px;
  width: 183px;
  position: relative;
  color: #1f1f1f;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  margin: 0;
}
.header__subtitle{
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  text-align: justify;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  align-content: space-between; 
  width: 80%;
}

.two-columns__paragraph {
  text-align: justify;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.two-columns__paragraph:nth-of-type(3n) {
  margin-bottom: 0;
} 


.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}
.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 60px;
  margin: 0;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: auto;
  overflow: visible;
}

.table__cell {
  width: 250px;
  padding-bottom: 60px;
}

.table__cell:nth-of-type(n+5) {
  padding-bottom: 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
  
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding-top: 20px;
}

.feynman {
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  }

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__picture {
  height: 637px;
  width: 867px;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.kaufman {
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  padding-bottom: 0;
}

.table_theme_dark {
  margin-bottom: 90px;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 1;
}

.table__heading_theme_dark {

}

.table__text_theme_dark {


}

.kaufman_triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: black;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.footer__column {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  padding-bottom: 20px;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  padding-right: 10px;
  height: 16px;
  width: 16px;
}