@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 30px 0 30px 64px;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 183px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  margin: 0;
}
.header__subtitle{
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  opacity: .5;
  transition: 2s;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: contain;
  object-position: right bottom;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.description {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__paragraph:nth-of-type(3n) {
  margin-bottom: 0;
} 

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 60px 0 0;
  overflow: visible;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell:nth-of-type(n+5) {
  margin-bottom: 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  background-color: #f2f2f2f2;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: .5;
  transition: 2s;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 90px 0;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  padding-bottom: 0;
}

.table_theme_dark {
  padding-top: 80px;
}

.table__cell_theme_dark {
  margin-bottom: 80px;
  width: 200px;
  color: white;
  margin-right: 0;
  z-index: 1;
}

.kaufman__triangle {
  background: url('../images/kaufman-triangle.svg');
  background-size: cover;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 250px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-bottom: 16px;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
}

.footer__link-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: .5;
  transition: 2s;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.techniques {
  margin: auto;
  padding-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 920px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.cards__item {
  width: 240px;
}

.cards__item:last-child{
  margin-right: 340px;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 60px 40px 43px 40px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin-top: 50px;
  margin-bottom: -60px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

.oakley {
  background-color: #f2f2f2f2;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 160px;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2f2;
}

.khan__container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
}

.khan__title {
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 60px;
}

.khan__quote {
  width: 790px;
  margin: 0 0 36px 0;
  line-height: 34px;
  font-size: 24px;
}

.knan__quote-author {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
}

.khan__quote-author-subline {
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  line-height: 42x;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: 2s;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.resources__logo {
  list-style: none;
}

.resources__image {
  width: 270px;
  height: 38px;
}

.resources__link:hover {
  opacity: .5;
  transition: 2s;
}